<%= form_with(model: @category, local: true) do |form| %>
    <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control', placeholder: 'Category name' %>
    </div>

    <div class="mb-3">
        <%= form.label :icon %>
        <%= form.url_field :icon, class: 'form-control', placeholder: 'Icon url' %>
    </div>

    <div class="mb-3">
        <%= form.submit 'Create Category', class: 'btn btn-primary' %>
    </div>
<% end %>